@import '~@fluentui/react/dist/sass/References.scss';

.inputItem20 {
    width: "20%";
    min-width: "200px";
}

.inputItem25 {
    width: "25%";
    min-width: "200px";
}

.inputItem50 {
    width: "50%";
    min-width: "200px";
}

.inputItem75 {
    width: "75%";
    min-width: "200px";
}

.inputItem100 {
    width: "100%";
    min-width: "200px";
}
 
.formFieldDescriptionStyle {
    color: "[theme: themePrimary, default: gray]";
    font-weight: 600;
    font-size: 0.8rem;
    font-style: italic;
}