@import '~@fluentui/react/dist/sass/References.scss';

.footerContainerStyles {  
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 25px;
    width: "100%";
    min-height: 44px;
    background-color: "[theme: neutralLight, default: gray]"; 
    box-shadow: 0px 0px 3px "[theme: neutralSecondary, default: #888888]";
    transition: 1s;
    z-index: 99;
} 