@import '~@fluentui/react/dist/sass/References.scss';

.dataGridPageActionBtn{
    border-radius: 0px;
    padding: 5px;
    margin: 0px;
    min-width: 15px; 
}

.dataGridPageIconBtn { 
    width: 15px;  
}