@import '~@fluentui/react/dist/sass/References.scss';

.tableMainGrid {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid;
    border-color: "[theme: neutralLight, default: white]";

    &th,
    &td {
        text-align: left;
        padding: 8px;
        border: 1px solid;
        border-color: "[theme: neutralLighter, default: white]";
    }

    &tr:nth-child(even) {
        background-color: "[theme: neutralLighterAlt, default: white]";
    }

    &tr:hover {
        background-color: "[theme: neutralLight, default: white]";
        cursor: pointer;
    }
}

.tableHeaderRow {
    background-color: "[theme: neutralQuaternaryAlt, default: gray]";
    color: "[theme: themeDarker, default: black]"; 
    border: 1px solid;
    border-color: "[theme: neutralLight, default: white]";
    cursor: pointer;
}

.tableRowSelected {
    background-color: "[theme: neutralLight, default: white]";
    cursor: pointer;
    border: 1px solid;
    border-color: "[theme: neutralLighter, default: white]";
}

.tableRowGrouped {
    background-color: "[theme: neutralLight, default: white]";
    cursor: pointer;
    border: 1px solid;
    border-color: "[theme: neutralLighter, default: white]";
}

.dataGridPageActionBtn {
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    min-width: 15px;
    width: 28px;
    height: 28px;
}

.dataGridPageIconBtn {
    width: 28px;
    height: 28px;
    padding: 5px;
    margin: 0px;
    border-radius: 50%;
}

.gridTitleSection {
    background-color: "[theme: themeLight, default: blue]"; 
    padding : 0.5rem 1rem;
    border-radius: 1rem 0rem;
}

.topCommandActionMenu {
    border-bottom: 1px;
    border-style: none none solid none;
    border-color: "[theme: themePrimary, default: gray]";
}

.noItemBody,
.noItemFoundBody,
.loadingBody { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
    border: 1px solid;
    border-color: "[theme: neutralLight, default: white]";
}

.emptyMsgIcon {
    font-size: 3rem;
    height: 4rem;
    width: 4rem;
    margin: 0px 25px;
    padding: 1.2rem;
}

