@import '~@fluentui/react/dist/sass/References.scss';

.tableMainGrid {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid;
    border-color: "[theme: neutralLight, default: white]";

    &th,
    &td {
        text-align: left;
        padding: 8px;
        border: 1px solid;
        border-color: "[theme: neutralLight, default: white]";
    }

    &tr:nth-child(even) {
        background-color: "[theme: neutralLighterAlt, default: white]";
    }

    &tr:hover {
        background-color: "[theme: neutralLight, default: white]";
        cursor: pointer;
    }
}

.tableHeaderRow {
    background-color: "[theme: themePrimary, default: blue]";
    color: "[theme: white, default: white]";
    cursor: pointer;
    border: 1px solid;
    border-color: "[theme: neutralLight, default: white]";
}

.tableRowSelected {
    background-color: "[theme: neutralLight, default: white]";
    cursor: pointer;
    border: 1px solid;
    border-color: "[theme: neutralLight, default: white]";
}

.tableRowGrouped {
    background-color: "[theme: neutralQuaternaryAlt, default: white]";
    cursor: pointer;
    border: 1px solid;
    border-color: "[theme: neutralLight, default: white]";
}

.dataGridPageActionBtn {
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    min-width: 15px;
    width: 28px;
    height: 28px;
}

.dataGridPageIconBtn {
    width: 28px;
    height: 28px;
    padding: 5px;
    margin: 0px;
    border-radius: 50%;
}

.topCommandActionMenu {
    border-bottom: 1px;
    border-style: none none solid none;
    border-color: "[theme: themePrimary, default: gray]";
}